<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form-group">

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Course</mat-label>
    <mat-select formControlName="course">
      <mat-option *ngFor="let course of courses" value={{course.name}}>{{course.name | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.valid" >Save</button>
</form>
