.navbar-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 5px 10px;
  line-height: 2em;
  list-style: disc;

  li {
    margin-left: 1em;
  }
}

.sidenav {
  background-color: #DCEDFF;
}
