<h2>Students</h2>
<ul class="student-cards">
  <li *ngFor="let student of students">
    <div [ngClass]="student === selectedStudent ? 'card selected' : 'card'" (click)="onSelect(student)">
      <img src={{stockAvatarUrl}} class="card-image">
      <div class="details">
        <span class="id">ID: {{student.id}}</span>
        <span class="name">Name: {{student.name | titlecase}}</span>
        <span class="course">Enrolled course: {{student.course}}</span>
      </div>
    </div>
  </li>
</ul>
